<div class="row mt-5">
  <div class="col-md-4 mb-3" *ngFor="let member of memberslist">
    <div class="card text-center">
      <div class="card-body">
     <h6>Name:&nbsp;<span>{{member.userName}}</span></h6>
     <p>Phone:&nbsp;<span>{{member.phoneNumber}}</span></p>{{member._id}}
     <a routerLink="/viewmore/{{member._id}}" >View More</a>

    <!-- delete user -->
     <button type="button" (click)="deleteuser(member)" type="submit" class="btn btn-danger float-left">Delete user</button>
     <!-- <span class="badge">{{member._id}}</span> -->
    
      </div>
    </div>
  </div>
</div>