<div class="row mt-5">
  <div class="col-md-4 mb-3" *ngFor="let member of memberslist">
    <div class="card text-center">
      <div class="card-body">
     <h6>Name:&nbsp;<span>{{member.userName}}</span></h6>
     <p>Phone:&nbsp;<span>{{member.phoneNumber}}</span></p>{{member._id}}
     <button type="button" routerLink="/viewmore/{{member._id}}" class="btn btn-primary" >View More</button>

    <!-- delete user -->
     <button type="button" routerLink="/viewmore/{{member._id}}" (click)="deleteuser()" type="submit" class="btn btn-danger float-left">Delete user</button><br>
     <button type="button" routerLink="/edituser/{{member._id}}" type="submit" class="btn btn-default float-left">Edit</button>
     <!-- <span class="badge">{{member._id}}</span> -->
    
      </div>
    </div>
  </div>
</div>